{%  extends 'index.html' %}

    {% block menu %}
        <div class="row">
            <a href="/shows" class="text-end">Go Back</a>
        </div>
    {% endblock %}

   {% block respuesta %}
        <div class="main col-7 p-3 mx-auto justify-content-center">
            <h1>Edit Show # {{ id }}</h1><hr>

            <form method="post" action="/shows/{{ id }}/update" id="form1">
            {% csrf_token %}
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" name="t" value="{{ titulo }}" aria-describedby="emailHelp" required="required" >
                </div>
                <div class="row">
                    <div class="mb-3 col-6">
                        <label for="network" class="form-label">Network</label>
                        <input type="text" class="form-control" id="network" name="n"  required="required" value="{{ network }}">
                    </div>
                    <div class="mb-3 col-6">
                        <label for="fecha" class="form-label">Released Date </label>
                        <input type="date" class="form-control" id="fecha" name="f"  value="{{ fecha }}" name="fecha" min="1900-01-01" required="required">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label">Descripción</label>
                    <textarea class="form-control" name="d" id="exampleFormControlTextarea1" rows="5"> {{ descripcion}}</textarea>
                </div>

            </form>
            <div class="row justify-content-center">
                <button type="submit" form="form1" class="btn btn-primary col-3  mb-2">Update</button>
                 <a href="/shows/{{ id }}" class="text-center">Go to Show</a>
            </div>
       </div>
            {% endblock %}
