<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    {% load static %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</head>
<body>
<div class="container">
    <div class="row mb-3">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/shows/">Datos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/shows/new">Nuevo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </div>

    <div class="row justify-content-start">
    {% block menu %}
        <div class="row">
            <a href="/shows" class="text-end">Go Back</a>
        </div>
    {% endblock %}
        {% block respuesta %}
        <div class="main col-7 p-3 mx-auto justify-content-center">
            <h1>ADD a New Show</h1><hr>

            <form method="POST" action="/shows/create" id="crear_libro">
                 {% csrf_token %}
                <div class="mb-3">
                    <label for="titulo" class="form-label">Title</label>
                    <input type="text" class="form-control" id="titulo" name="t1" aria-describedby="emailHelp" required="required">
                </div>
                <div class="row">
                    <div class="mb-3 col-6">
                        <label for="cnetwork" class="form-label">Network</label>
                        <input type="text" class="form-control" id="cnetwork" name="c1" required="required">
                    </div>
                    <div class="mb-3 col-6">
                        <label for="cfecha" class="form-label">Released Date </label>
                        <input type="date" class="form-control" id="cfecha" name="f1" min="1900-01-01" required="required">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="cdescription" class="form-label">Descripción</label>
                    <textarea class="form-control" name="d1" id="cdescription" rows="5"></textarea>
                </div>

                <button type="submit" class="btn btn-primary" form="crear_libro">Crear</button>
            </form>

        </div>
        {% endblock %}
    </div>
</div>

</body>
</html>