# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\FullStackPython\python_stack\04_django\03_django_full_stack\2021.02.03Programas_de_TV\ProgramaTV\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
